/*--- Home ---*/
/* line 2, ../css/bespoke.css.scss */
.background--home {
  background: url("../img/brick-jim.png");
  background-size: 100%;
  background-position-y: 40%; }
  /* line 6, ../css/bespoke.css.scss */
  .background--home .type--white {
    text-shadow: 1px 1px 9px #969696; }

/*--- Nav ---*/
/* line 12, ../css/bespoke.css.scss */
.top-bar-section .has-dropdown > a {
  padding-right: 15px !important; }

/* line 16, ../css/bespoke.css.scss */
.top-bar-section .has-dropdown > a:after {
  display: none; }

/* line 20, ../css/bespoke.css.scss */
.top-bar-section ul li > a {
  font-family: 'museo-sans', sans-serif;
  text-transform: uppercase;
  font-size: .9rem;
  color: #323232;
  padding-left: 1rem;
  font-weight: 400; }

/* line 29, ../css/bespoke.css.scss */
.top-bar-section li:not(.has-form) a:not(.button) {
  line-height: auto; }

/* line 33, ../css/bespoke.css.scss */
.top-bar li.name {
  line-height: 3.3; }

/* line 37, ../css/bespoke.css.scss */
.top-bar-section li a.top-level:hover {
  background: none; }

/* line 41, ../css/bespoke.css.scss */
nav.top-bar.large {
  height: 61px; }

/*-------------------------------------*/
/*-------------- Utility --------------*/
/*-------------------------------------*/
/* line 50, ../css/bespoke.css.scss */
.full-width {
  width: 100%;
  display: block;
  position: relative; }

/* line 56, ../css/bespoke.css.scss */
.columns.table {
  display: table; }

/* line 60, ../css/bespoke.css.scss */
.table.contact {
  display: table;
  width: 100%; }

/* line 65, ../css/bespoke.css.scss */
.table--full-width {
  display: table;
  width: 100%; }

/* line 70, ../css/bespoke.css.scss */
.center {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 100%; }

/* line 77, ../css/bespoke.css.scss */
.center-vertical {
  display: table-cell;
  vertical-align: middle; }

/* line 82, ../css/bespoke.css.scss */
.center.aligned-left h2, .center.aligned-left h3, .center.aligned-left h4, .center.aligned-left p {
  text-align: left; }

/* line 86, ../css/bespoke.css.scss */
.absolute--bottom {
  position: absolute;
  bottom: 0; }

/*--- headers ---*/
/*--h1.alpha {
  font-size: 4rem;
  line-height: 1.24;
  font-weight: 200;
}---*/
/* line 98, ../css/bespoke.css.scss */
.no-margin-bottom {
  margin-bottom: 0; }

/* line 102, ../css/bespoke.css.scss */
.background--img-comp h1, .background--img-comp .subheader.uppercase {
  color: #ddd;
  text-shadow: 1px 1px 2px #545454; }

/* line 108, ../css/bespoke.css.scss */
.background--gray-dark h4.subheader {
  color: #ccc; }

/* line 112, ../css/bespoke.css.scss */
.background--gray-dark h1, .background--gray-dark h2, .background--gray-dark h3, .background--gray-dark h4 {
  color: #FFF; }

/* line 116, ../css/bespoke.css.scss */
.background--img-comp {
  background: url("../img/bg-img-comp.png");
  background-attachment: fixed;
  z-index: -10;
  background-size: 100%; }

/* line 124, ../css/bespoke.css.scss */
.background--img-app {
  background: url("../img/bg-img-app.png");
  background-attachment: fixed;
  z-index: -10;
  background-size: 100%; }

/*--- type styles ---*/
/* line 135, ../css/bespoke.css.scss */
.font--thin {
  font-weight: 100; }

/* line 139, ../css/bespoke.css.scss */
.font--light {
  font-weight: 200; }

/* line 143, ../css/bespoke.css.scss */
.type--regular {
  font-weight: 300; }

/* line 147, ../css/bespoke.css.scss */
.type--semi-bold {
  font-weight: 500; }

/* line 151, ../css/bespoke.css.scss */
.type--large {
  font-size: 1.28rem; }

/* line 155, ../css/bespoke.css.scss */
.type--light {
  color: #788991; }

/* line 159, ../css/bespoke.css.scss */
.color--dark-blue {
  color: #2696A7; }

/* line 163, ../css/bespoke.css.scss */
p.type--semi-bold.type--large.type--light {
  margin-bottom: 0; }

/* line 167, ../css/bespoke.css.scss */
p a {
  border-bottom: 1px solid #FF5754; }

/* line 171, ../css/bespoke.css.scss */
.type--white {
  color: #FFF; }

/*--- Backgrounds for .full-width ---*/
/* line 177, ../css/bespoke.css.scss */
.background--grid {
  background-image: url("../img/grid-2.png");
  background-repeat: repeat;
  background-color: #fff; }

/* line 183, ../css/bespoke.css.scss */
.background--img-about {
  background-image: url("../img/aboutus.png");
  background-attachment: fixed;
  z-index: -10;
  background-size: 100%; }

/* line 190, ../css/bespoke.css.scss */
.background--comp {
  background-image: url("../img/bg-secondary.png");
  background-repeat: repeat; }

/* line 195, ../css/bespoke.css.scss */
.background--white {
  background-color: #fff; }

/* line 200, ../css/bespoke.css.scss */
.background--blue {
  background-color: #00B5CE; }
  /* line 203, ../css/bespoke.css.scss */
  .background--blue .border--r {
    border-right: 1px solid #019bb0; }
  /* line 207, ../css/bespoke.css.scss */
  .background--blue .border--l {
    border-left: 1px solid #019bb0; }
  /* line 211, ../css/bespoke.css.scss */
  .background--blue p a {
    color: #FFF;
    border-bottom: 1px solid #FFF; }
  /* line 216, ../css/bespoke.css.scss */
  .background--blue h2 {
    color: #FFF;
    font-weight: 200;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); }
  /* line 222, ../css/bespoke.css.scss */
  .background--blue .type--light, .background--blue h3 {
    color: #00525E; }
  /* line 226, ../css/bespoke.css.scss */
  .background--blue h4 {
    color: #00525E; }
  /* line 230, ../css/bespoke.css.scss */
  .background--blue a {
    color: #00525E; }
  /* line 234, ../css/bespoke.css.scss */
  .background--blue .subheader.uppercase {
    color: #FFF; }

/* line 240, ../css/bespoke.css.scss */
.border--b {
  border-bottom: 1px solid #ED7C79; }

/* --------------------------------------- *
    Web & CMS
\*---------------------------------------- */
/* line 249, ../css/bespoke.css.scss */
.center-border--blue-padding {
  background-color: #00B5CE;
  bottom: 8%;
  display: block;
  position: absolute;
  margin: 0 -1px -1px 0;
  top: 8%;
  right: 50%;
  width: 2px;
  z-index: 10; }

/* line 261, ../css/bespoke.css.scss */
.center-border--gray {
  background-color: #ccc;
  bottom: 0;
  display: block;
  position: absolute;
  margin: 0 -1px -1px 0;
  top: 0;
  right: 50%;
  width: 2px;
  z-index: -5; }

/* line 273, ../css/bespoke.css.scss */
.center-border--red {
  background-color: #ED7C79;
  bottom: 50%;
  display: block;
  margin: 0 -1px 0 0;
  position: fixed;
  right: 50%;
  top: 0;
  width: 2px;
  z-index: -1; }

/* line 285, ../css/bespoke.css.scss */
svg.center-circle, #trigger1 {
  margin: -30px -30px 0 0;
  position: absolute;
  right: 50%;
  top: 50%;
  z-index: 1; }

/* line 293, ../css/bespoke.css.scss */
#guide .full-width {
  z-index: -10; }

/* line 297, ../css/bespoke.css.scss */
.border--tb-red {
  border-top: 4px solid #ED7C79;
  border-bottom: 4px solid #ED7C79; }

/* line 302, ../css/bespoke.css.scss */
.border--t-red {
  border-top: 4px solid #ED7C79; }

/* line 306, ../css/bespoke.css.scss */
img.background--home-app {
  background-image: url("../img/home-app-graphic.png");
  background-repeat: no-repeat;
  background-position: left center; }

/* line 312, ../css/bespoke.css.scss */
.background--red {
  background-color: #FF8683; }
  /* line 315, ../css/bespoke.css.scss */
  .background--red h4 {
    color: #FFF;
    font-weight: 200;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); }

/* line 323, ../css/bespoke.css.scss */
.background--red.border--tb {
  border-top: 1px solid #ED7C79;
  border-bottom: 1px solid #ED7C79; }

/* line 328, ../css/bespoke.css.scss */
.background--gray-medium {
  background-color: #404040; }
  /* line 331, ../css/bespoke.css.scss */
  .background--gray-medium h1, .background--gray-medium h2, .background--gray-medium h3, .background--gray-medium h4, .background--gray-medium h5 {
    color: #fff; }
  /* line 335, ../css/bespoke.css.scss */
  .background--gray-medium ul li a {
    color: #ccc; }
  /* line 339, ../css/bespoke.css.scss */
  .background--gray-medium ul li a:hover {
    color: #fff; }

/* line 344, ../css/bespoke.css.scss */
.background--gray-dark {
  background-color: #333333; }
  /* line 347, ../css/bespoke.css.scss */
  .background--gray-dark h1, .background--gray-dark h2, .background--gray-dark h3, .background--gray-dark h4, .background--gray-dark h5 {
    color: #fff; }
  /* line 351, ../css/bespoke.css.scss */
  .background--gray-dark ul li a {
    color: #00B5CE; }
  /* line 355, ../css/bespoke.css.scss */
  .background--gray-dark ul li a:hover {
    color: #56CEE0; }
  /* line 359, ../css/bespoke.css.scss */
  .background--gray-dark p {
    color: #eee; }

/* line 364, ../css/bespoke.css.scss */
.background--gray-red {
  background-color: #FF5754; }

/*--- add header ---*/
/* line 371, ../css/bespoke.css.scss */
.uppercase {
  text-transform: uppercase; }

/* line 375, ../css/bespoke.css.scss */
.subheader.uppercase {
  font-family: 'museo-sans', sans-serif;
  font-weight: 100;
  color: #788991; }

/* line 381, ../css/bespoke.css.scss */
.padding--tb-large {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem; }

/* line 386, ../css/bespoke.css.scss */
.padding--tb-medium {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem; }

/* line 391, ../css/bespoke.css.scss */
.padding--tb-small {
  padding-top: .5rem;
  padding-bottom: .5rem; }

/* line 396, ../css/bespoke.css.scss */
.padding--t-large {
  padding-top: 2.5rem; }

/* line 400, ../css/bespoke.css.scss */
.padding--t-xlarge {
  padding-top: 3rem; }

/* line 404, ../css/bespoke.css.scss */
.padding--tb-xlarge {
  padding-top: 3rem;
  padding-bottom: 3rem; }

/* line 409, ../css/bespoke.css.scss */
.padding--tb-xxlarge {
  padding-top: 4rem;
  padding-bottom: 4rem; }

/* line 414, ../css/bespoke.css.scss */
.padding--t-medium {
  padding-top: 1.5rem; }

/* line 418, ../css/bespoke.css.scss */
.padding--t-small {
  padding-top: .5rem; }

/* line 422, ../css/bespoke.css.scss */
.padding--b-large {
  padding-bottom: 2.5rem; }

/* line 426, ../css/bespoke.css.scss */
.padding--b-medium {
  padding-bottom: 1.5rem; }

/* line 430, ../css/bespoke.css.scss */
.padding--b-small {
  padding-bottom: .5rem; }

/* line 434, ../css/bespoke.css.scss */
.padding--rl-small {
  padding-right: .5rem;
  padding-left: .5rem; }

/* line 439, ../css/bespoke.css.scss */
.padding--rl-medium {
  padding-right: 1.5rem;
  padding-left: 1.5rem; }

/* line 444, ../css/bespoke.css.scss */
.padding--rl-large {
  padding-right: 2.5rem;
  padding-left: 2.5rem; }

/* line 449, ../css/bespoke.css.scss */
.padding--r-small {
  padding-right: .5rem; }

/* line 453, ../css/bespoke.css.scss */
.padding--r-medium {
  padding-right: 1.5rem; }

/* line 457, ../css/bespoke.css.scss */
.padding--r-large {
  padding-right: 2.5rem; }

/* line 461, ../css/bespoke.css.scss */
.padding--r-xlarge {
  padding-right: 3.5rem; }

/* line 465, ../css/bespoke.css.scss */
.padding--r-xxlarge {
  padding-right: 4.5rem; }

/* line 470, ../css/bespoke.css.scss */
.padding--l-small {
  padding-left: .5rem; }

/* line 474, ../css/bespoke.css.scss */
.padding--l-medium {
  padding-left: 1.5rem; }

/* line 478, ../css/bespoke.css.scss */
.padding--l-large {
  padding-left: 2.5rem; }

/* line 482, ../css/bespoke.css.scss */
.padding--l-xlarge {
  padding-left: 3.5rem; }

/* line 486, ../css/bespoke.css.scss */
.padding--l-xxlarge {
  padding-left: 4.5rem; }

/* line 490, ../css/bespoke.css.scss */
.columns.padding--l-zero {
  padding-left: 0; }

/* line 493, ../css/bespoke.css.scss */
.columns.padding--rl-zero {
  padding-left: 0;
  padding-right: 0; }

/* line 498, ../css/bespoke.css.scss */
.row.row--full {
  max-width: 100%; }

/*--- Buttons ---*/
/* line 503, ../css/bespoke.css.scss */
.button.button--border.button--transparent {
  background: transparent;
  border: 1px solid #323232;
  color: #323232;
  letter-spacing: 0.0625em; }

/* line 510, ../css/bespoke.css.scss */
.button.button--border.button--transparent:hover {
  background: rgba(0, 0, 0, 0.1); }
