<!--- SECTION 4: BRIDGE -->
<div class="full-width background--gray-light padding--tb-medium border--tb">
  <div class="row">
    <div class="small-11 medium-11 large-8 small-centered columns">
      <div class="row" data-equalizer>
        <div class="small-12 medium-10 large-9 columns table" data-equalizer-watch>
          <div class="center aligned-left">
            <h4 class="padding--tb-medium"><%= message %></h4>
          </div>
        </div>
        <div class="small-12 medium-2 large-3 columns table" data-equalizer-watch>
          <div class="center">
            <img class="padding--b-small" src="../img/about-bspokelogo.png" width="135" />
          </div>
        </div>
      </div>
    </div>
  </div><!-- /.row -->
</div>
