<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:title) ? yield_content(:title) : "itsbspoke" %></title>
    <link rel="stylesheet" href="css/foundation.css" />
    <link rel="stylesheet" href="css/bespoke.css" />
    <script src="js/vendor/modernizr.js"></script>
    <script type="text/javascript" src="//use.typekit.net/amv8hpg.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  </head>
  <body>
