<div class="off-canvas-wrap" data-offcanvas>
  <div class="inner-wrap">
    <nav class="tab-bar show-for-small-only">

      <section class="middle tab-bar-section">
        <h1 class="title">It'sBspoke</h1>
      </section>

      <section class="right-small">
        <a class="right-off-canvas-toggle menu-icon" href="#"><span></span></a>
      </section>
    </nav>

    <aside class="right-off-canvas-menu show-for-small-only">
      <ul class="off-canvas-list">
        <li><%= link_to 'App Development', '/app-development.html' %></li>
      <li><%= link_to 'Websites & CRM', '/web.html' %></li>
      <li><%= link_to 'Consulting', '/consulting.html' %></li>
      <li><%= link_to 'About Us', '/about.html' %></li>
      </ul>
    </aside>

    <section class="main-section">
      <!-- content goes here -->
