<div class="full-width border--t ready background--white">
  <div class="row collapse">
    <div class="small-12 medium-12 large-12 small-centered columns" data-equalizer>
      <div class="row collapse">
        <div class="small-12 medium-3 large-3 columns padding--tb-medium table small-border--b" data-equalizer-watch>
          <div class="center">
            <a href="/web.html">
              <img src="../img/ready-icon-web.png" width="70"/>
              <h5 class="uppercase">I need a website</h5>
            </a>
          </div>
        </div>
        <div class="small-12 medium-3 large-3 columns border--rl padding--tb-medium table small-border--b" data-equalizer-watch>
          <div class="center">
            <a href="/app-development.html">
              <img src="../img/ready-icon-app.png" width="70"/>
              <h5 class="uppercase">I need an app</h5>
            </a>
          </div>
        </div>
        <div class="small-12 medium-3 large-3 columns border--r padding--tb-medium table small-border--b" data-equalizer-watch>
          <div class="center">
            <a href="/consulting.html">
              <img src="../img/ready-icon-consulting.png" width="70"/>
              <h5 class="uppercase" >I need Jim</h5>
            </a>
          </div>
        </div>
        <div class="small-12 medium-3 large-3 columns padding--tb-medium table" data-equalizer-watch>
          <div class="center">
            <a href="/contact.html">
              <img  src="../img/ready-icon-question.png" width="70"/>
              <h5 class="uppercase" >I'm not sure what I need!</h5>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div><!-- /.row -->
</div>
