<div class="full-width <%= cta_bg %> border--t ready show-for-medium-up">
  <div class="row collapse padding--tb-large <%= cta_bg %>">
    <div class="small-10 medium-12 large-10 small-centered columns table">
      <div class="center">
        <% if content_for?(:cta) %>
          <%= yield_content(:cta)  %>
        <% else %>
        <h2 class="color--dark-blue font--thin">Ready to get started?</h2>
        <p class="type--large type--light type--semi-bold">How can we help?</p>
        <img src="../img/icon-down-circle.png" class="padding--t-small" width="30px"/>
        <% end %>
      </div>
    </div>
  </div><!-- /.row -->
</div>
<%= partial "option_bar" %>
<!-- /End Ready to start -->
