---
title: the bspoke team
---
<!-- SECTION 1 -->
<div class="full-width background--red">
  <%= partial "nav" %>
  <div class="row large-padding--tb-medium">
    <div class="small-11 medium-11 large-11 small-centered columns">
      <div class="row large-padding--tb-large">
        <div class="large-12 columns padding--tb-medium">
          <h1 class="type--white">bspoke teamwork</h1>
          </br>
        </div>
      </div>

    </div>
  </div>
</div>

<!--- SECTION 2 -->
<div class="full-width border--tb small-padding--tb-xxlarge large-padding--tb-5xlarge">
  <div class="row ">
    <div class="small-11 large-11 columns small-centered">
      <div class="row">
        <div class="small-12 medium-12 large-6 small-centered large-uncentered columns table">
          <div class="center">
            <img class="padding--b-small" src="../img/jim-amy.png"/>
          </div>
        </div>
        <div class="small-12 medium-12 large-6 small-centered columns">
          <h2>A Novel Approach</h2>
          <p>Committed to career development and continuing education, bspoke offers a great place to begin your career in technology. We pair beginners learning on the job with experts to guide and assign work.  This combination creates great results at a low price. At bspoke, we prove technical excellence does not have to be expensive.</p>
              <div class="center">
                <a href="/our-model.html" class="button large radius button--border button--transparent">Our Model</a>
                <a href="/founder.html" class="button large radius button--border button--transparent">Our Founder</a>

              </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--- SECTION 4: BRIDGE -->
<div class="full-width background--gray-light padding--tb-medium border--tb">
  <div class="row">
    <div class="small-11 medium-11 large-8 small-centered columns">
      <div class="row" data-equalizer>
        <div class="small-12 medium-10 large-9 columns table" data-equalizer-watch>
          <div class="center aligned-left">
            <h4 class="padding--tb-medium">Support your team permanently by adopting the habits of exceptional technical operations.</h4>
          </div>
        </div>
        <div class="small-12 medium-2 large-3 columns table" data-equalizer-watch>
          <div class="center">
            <img class="padding--b-small" src="../img/about-bspokelogo.png" width="135" />
          </div>
        </div>
      </div>
    </div>
  </div><!-- /.row -->
</div>

<!-- SECTION 5 -->
<div class="full-width background--white">
  <div class="row row--full" data-equalizer>
    <div class="small-11 medium-11 large-6 small-centered large-uncentered columns large-offset-1 large-padding--tb-5xlarge large-padding--r-xlarge large-padding--rl-xlarge small-padding--tb-xxlarge table" data-equalizer-watch>
      <div class="center aligned-left">
        <h2>Investing in the Charlotte startup community since 2008</h2>
        <p class="large-padding--r-small">Community is in our DNA. We’ve shared news and events with over a thousand Charlotteans via our newsletter. We’ve produced dozens of events, including Charlotte Startup Weekend and TechBreakfast CLT, for the tech and startup communities. Connected, engaged communities have a big impact on their city, and we believe our support for Charlotte makes it an even better place for startups.</p>
              <div class="center">
                <a href="http://bspoke.co/cltstartups" class="button large radius button--border button--transparent">Subscribe</a>
              </div>
      </div>
    </div>
    <div class="small-12 medium-12 large-5 columns background--about-charlotte padding--rl-zero" data-equalizer-watch>
      <img class="hide-for-large-up" src="../img/about-charlotte-small.png"/>
    </div>
  </div><!-- /.row -->
</div>


