---
title: the bspoke team
---
<!-- SECTION 1 -->
<div class="full-width background--red">
  <%= partial "nav" %>
  <div class="row large-padding--tb-medium">
    <div class="small-11 medium-11 large-11 small-centered columns">
      <div class="row">
        <div class="large-12 columns">
          <h1 class="type--white">bspoke teamwork</h1>
          </br>
        </div>
      </div>

    </div>
  </div>
</div>

<!--- SECTION 2 -->
<div class="full-width background--white">
  <div class="row row--full" data-equalizer>
    <div class="small-12 medium-12 large-6 columns background--about-approach padding--rl-zero" data-equalizer-watch>
      <img class="hide-for-large-up" src="../img/about-approach-small.jpg"/>
    </div>
    <div class="small-11 medium-11 large-6 small-centered large-uncentered columns large-padding--tb-5xlarge  small-padding--tb-large large-padding--rl-xxlarge table" data-equalizer-watch>
      <div class="center aligned-left">
        <h2>A Novel Approach</h2>
        <p>Committed to career development and continuing education, bspoke offers a great place to begin your career in technology. We pair beginners learning on the job with experts to guide and assign work.  This combination creates great results at a low price. At bspoke, we prove technical excellence does not have to be expensive.</p>
              <div class="center">
                <a href="/newsletter.html" class="button medium radius button--border button--transparent">Subscribe</a>
              </div>
      </div>
    </div>
  </div><!-- /.row -->
</div>

<!--- SECTION 4: BRIDGE -->
<div class="full-width background--gray-light padding--tb-medium border--tb">
  <div class="row">
    <div class="small-11 medium-11 large-8 small-centered columns">
      <div class="row" data-equalizer>
        <div class="small-12 medium-10 large-9 columns table" data-equalizer-watch>
          <div class="center aligned-left">
            <h4 class="padding--tb-medium">Support your team permanently by adopting the habits of exceptional technical operations.</h4>
          </div>
        </div>
        <div class="small-12 medium-2 large-3 columns table" data-equalizer-watch>
          <div class="center">
            <img class="padding--b-small" src="../img/about-bspokelogo.png" width="135" />
          </div>
        </div>
      </div>
    </div>
  </div><!-- /.row -->
</div>

<!--- SECTION 3 -->
<div class="full-width border--tb background--pattern padding--tb-large">
  <div class="row">   
    <div class="small-6 medium-8 large-8 small-centered columns padding--b-medium table">
      <div class="center">
        <h1>The Team</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small-6 medium-8 large-8 small-centered columns">
      <div class="row">
        <div class="small-12 medium-12 large-6 small-centered large-uncentered columns table">
          <div class="center">
            <img class="padding--b-small" src="../img/circle.png" width="50%"/>
            <h3 class="no-margin-bottom">Jim Van Fleet</h3>
            <p> Title </p>
          </div>
        </div>
        <div class="small-12 medium-12 large-6 small-centered large-uncentered columns table">
          <div class="center">
            <img class="padding--b-small" src="../img/circle.png" width="50%"/>
            <h3 class="no-margin-bottom">Amy Ritchie</h3>
            <p> Title </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- SECTION 5 -->
<div class="full-width">
  <div class="row row--full" >
    <div class="small-11 medium-10 large-7 small-centered large-centered columns large-padding--tb-xxlarge large-padding--r-xlarge large-padding--rl-xlarge medium-padding--tb-large small-padding--tb-large" >
      <div class="center aligned-left">
        <h2>Investing in the Charlotte startup community since 2008</h2>
        <p class="large-padding--r-small">Community is in our DNA. We’ve shared news and events with over a thousand Charlotteans via our newsletter. We’ve produced dozens of events, including Charlotte Startup Weekend and TechBreakfast CLT, for the tech and startup communities. Connected, engaged communities have a big impact on their city, and we believe our support for Charlotte makes it an even better place for startups.</p>
      </div>
    </div>
  </div><!-- /.row -->
  <div class="svg-container--city">
        <svg class="svg--city" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="1225.4px" height="252px" viewBox="0 0 1225.4 252" enable-background="new 0 0 1225.4 252" xml:space="preserve">
        <path fill="#fddbd9" d="M1208.3,251v-10.4h-19.9v-14.6h-33.7v5.4h-26.8v-10.7h-36v-9.2h-22.2v-20.7h-29.5v-8.4h-21.5v-0.2h-0.1v-2
          v-1.3h-5v1.3h-9.9v2h-2.6v3.9h-5.6v4.5h-2.9v-9.5H988v9.5h-9.2v-9.5h-4.4v9.5h-3.3v-21.4h-22.6v-3.3v-2.3h-2.7v2.3h-1.5v-2.3h-2.7
          v2.3h-5v-3.1h-1.1v-1.7h-2.7v8h-0.6v15.9h-12.8v15.7h-10.1v-20.6h-9.2v-7.9h-26.3v-47.5h-3.7L867,115l-3.8-0.1V80.2h-0.5v-1.1h-2.4
          v1.1h-2.5l-2.4-7.9h-2.2v-1.7h-1.9v1.7h-13.7v-1.7h-1.9v1.7h-1.3l-2.7,7.9h-3.1v-1.1h-2.4v1.1h-0.6V174h-10.6v16.7l-14.9-2.9v-82
          h-1.9v-2.5h-3.4v2.5h-11.5v-2.3h-2.9V85.8h-2.7V65h-2.1V54.7H775l-0.9-10.1l-2.1,0v-7.7h-2.2v-4.3h-2.5v-3.2H765v-4.4h-2.3v-2h-3.1
          v2h-2.3v4.4H755v3.2h-2.5v4.3h-2.2v7.7l-2.1,0l-0.8,10h-0.4V65h-2.1v20.8h-2.7v68.4h-13.3v7.5h-4.3v-13.3h-3.7v-3.7h-1v-8h-2.2v8
          h-4.5v-9.5h-2v-4.3l-2.3-3.7l-8.1-5.3l0,0v-4.3l-1.2-3.4v7.8l-0.1,0l-8.2,4.8v-19.7l-7.9-2.4v0H648v43.2h-12.6l-2.8,23.6h-10.4v-7
          h-5.5v-4.4h-1.9l-4.2-2.9h-0.3v-0.9h1.9v-2.3h-17.2v-21.1l-4.4-1.1v0h-5.7v-1.3l-2.9-1.2h-31v2.5h-9v45.8h-6.1v2.9H524V124l-3.3-1.1
          v-0.1h-33.9v30.5h-9.8V106H476c-0.6-4.2-3.6-4.3-6-5.4c-0.4-7.3-3.6-10.7-4.8-11.7c-0.9-0.8-2.1-1.4-9.1-1.4c-1.5,0-3.3,0-5.5,0.1
          c-11.9,0.4-10.3,13.6-10.3,13.6L438,106h-2.3v15.7h-2v3.1h-2.2v-3.1h-2.7v3.1h-3.4l-1.1,3.8h-1.8v11.5h-1.9v33.3h-2.9v4h-4v-4h-21.1
          v4h-34.1v1.1h-1.7V66.1l-39-2.3v124.5h-13.1v3.1h-7.5v5.3l-14.6-1.9v-12.7h-28.9v-24.9h-6.5v-6.5h-2.1v-2.1h-4.6v2.1h-26.2v-2.1
          h-4.6v6.9h0.2v3.1h-35.4v33.7h-27.6v19.1h-25.3v9.2H104v10H40.4v19.2H22.1v1.2H1208.3z M348.6,70.7l-4.4,5.6l-16.5-0.2l-2.1-6.3
          L348.6,70.7z"/>
        </svg>
      </div>
</div>


