---
title: bspoke application development
---

<!-- SECTION 1: HEADER -->
<div class="full-width background--blue">
  <%= partial "nav" %>
  <div class="row">
    <div class="small-11 medium-11 large-11 small-centered columns">
      <div class="row">
        <div class="large-12 columns padding--tb-large">
          <h1>Changing lives with technology</h1>
          </br>
        </div>
      </div>
    </div>
  </div>
</div>


<!--- SECTION 2 -->
<div class="full-width background--white small-padding--tb-small large-padding--tb-3xlarge">
  <div class="row" >
    <div class="small-11 medium-11 large-12 columns small-centered" data-equalizer>
      <div class="small-12 medium-6 large-6 columns small-padding--tb-large" data-equalizer-watch>
        <img src="../img/app-section3.png"/>
      </div>
      <div class="small-12 medium-6 large-6 columns small-centered table small-padding--r-xlarge" data-equalizer-watch>
        <div class="center aligned-left">
          <h2>Have an idea?</h2>
          <p>To become successful, your idea must become and app that <strong>changes lives</strong>.  A business line needs to solve a problem, attract attention, become differentiated, and execute flawlessly.  It has to break through the noise, and deliver something unique and wonderful.  itsbspoke relishes the opportunity to help our clients explore your problem space, quickly and efficiently, until you discover the right business.</p>
          <p class="type--light type--semi-bold">Certain that you want to change lives? <a href="/contact.html">Get started today</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- SECTION 3 -->
<div class="full-width border--t-red border--tb small-padding--tb-large background--gray-light">
  <div class="row">
    <div class="small-6 medium-6 large-2 small-centered columns table small-padding--b-large">
      <div class="center">
        <%= image_tag '../img/home-app.png' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small-11 medium-6 large-6 small-centered table columns">
      <div class="center">
        <p class="type--large type--light type--semi-bold">Technology is changing lives all over the planet, more quickly than ever.  itsbspoke has created apps for a variety of industries including healthcare, finance, design, entertainment, you name it.  The cloud is changing our world, and we're experts in unlocking its potential.  Whether you’ve got fifty employees, or just your own wits, we want to help you use technology to get results, day after day, week after week, and year after year.</p>
      </div>
    </div>
  </div>
</div>

<!-- SECTION 4 -->
<div class="full-width border--t-red background--gray-light large-padding--tb-4xlarge medium-padding--tb-3xlarge border--tb">
  <div class="row">
    <div class="small-12 medium-7 large-7 small-centered columns table large-padding--b-large">
      <div class="center">
        <h2>The Software Development Lifecycle</h2>
        <p>We believe that the five stages of software development cannot exist independently without damaging the product, and the sponsoring company, as well.</p>
        <p>Success comes when you make it through this cycle meaningfully, repeatedly and quickly-- not making sure that each trip around is "perfect".</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small-12 medium-12 large-12 columns table">
      <div class="center">
        <%= image_tag '../img/app-process-graphic.png'%>
      </div>
    </div>
  </div>
</div>

<!--- SECTION 5 -->
<div class="full-width  border--t-red border--b-red large-padding--tb-3xlarge medium-padding--tb-xlarge background--white">
  <div class="row">
    <div class="small-12 medium-7 large-7 small-centered columns table large-padding--b-large">
      <div class="center">
        <h2>Our offerings</h2>
        <p>We have two offerings that we can blend to match a range of budgets and timelines.</p>
        <p>The crucial difference is who delivers your software.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small-11 medium-11 large-10 small-centered columns">
      <div class="row" data-equalizer>
        <div class="small-12 medium-6 large-6 small-centered medium-uncentered large-uncentered columns small-padding--tb-xlarge small-padding--r-xlarge" data-equalizer-watch>
          <h3 class="subheader uppercase">The Expert Option</h3>
          <p>itsbspoke has a broad array of expertise in its network.  We can provide you with senior level service in every area your budget will support. We can move quickly and efficiently to bring your idea to market in a way that will make a big impression.  This option <strong>costs more but delivers quickly</strong>.</p>
        </div>
        <div class="show-for-medium-up center-border--blue-padding" ></div>
        <div class="small-12 medium-6 large-6 small-centered medium-uncentered large-uncentered columns medium-padding--l-xlarge small-padding--tb-xlarge small-border--t medium-border--t-none" data-equalizer-watch>
          <h3 class="subheader uppercase">The Apprentice Option</h3>
          <p>If you don’t have the resources to spend upfront, this option <a href="/our-model.html">pairs promising apprentices with our experts</a> to produce great results at a lower price.  This option <strong>takes longer but costs less</strong>.</p>
        </div>
      </div>
    </div>
  </div>
</div>


<% content_for :cta do %>
  <h2 class="color--dark-blue font--thin">Ready?</h2>
  <p class="type--large type--light type--semi-bold">If you're ready to start development with us, <a href="/contact.html">contact us</a>.</p>
  <p class="type--large type--light type--semi-bold">If you're not sure, you should sign up for our <strong>free</strong> seven-part series on our application development process.  </p>
  <img src="../img/icon-down-circle.png" class="padding--t-small" width="30px"/>
  </div>
</div>
</div>
<div class="row">
  <div class="small-8 medium-8 large-8 small-centered columns table">
      <div class="center">

    <!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
<form action="http://itsbspoke.us2.list-manage.com/subscribe/post?u=8b4656bd4a093a3bcabfda08a&amp;id=d0b0f1c86f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
  <h2>bspoke app development</h2>
  <p>Learn more about the application development lifecycle, and how itsbspoke partners with clients to deliver results.</p>
<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
<div class="mc-field-group">
	<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
</label>
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
<div class="mc-field-group">
	<label for="mce-FNAME">First Name </label>
	<input type="text" value="" name="FNAME" class="" id="mce-FNAME">
</div>
<div class="mc-field-group">
	<label for="mce-LNAME">Last Name </label>
	<input type="text" value="" name="LNAME" class="" id="mce-LNAME">
</div>
<input type="hidden" value="2" name="group[13713][2]">
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_8b4656bd4a093a3bcabfda08a_d0b0f1c86f" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
</form>
</div>

<!--End mc_embed_signup-->
<% end %>
