---
title: bspoke consulting offerings
---
<!-- SECTION 1-->
<div class="full-width background--blue">
  <%= partial "nav" %>
  <div class="row">
    <div class="small-11 medium-11 large-11 small-centered columns">
      <div class="row">
        <div class="large-12 columns padding--tb-large">
          <h1>Consulting</h1>
          </br>
        </div>
      </div>
    </div>
  </div>
</div>

<!--- SECTION 2 -->
<div class="full-width background--white border--tb">
  <div class="row background--consulting-jim">
    <div class="small-10 medium-12 large-12 columns small-centered">
      <div class="row" data-equalizer>
        <div class="show-for-medium-up small-11 medium-7 large-7 columns" data-equalizer-watch> &nbsp; </div>
    
        <div class="small-12 medium-5 large-5 columns table small-padding--tb-large large-padding--r-xlarge medium-padding--tb-large large-padding--tb-3xlarge" data-equalizer-watch>
          <div class="center aligned-left">
            <h2>Hello.</h2>
            <h3>I'm Jim Van Fleet.</h3>
			
            <h3>I put the "tech" in tech startups.</h3>			

<p>Startups must avoid critical technology mistakes while evolving and evaluating their business model.  I was put on earth to solve these problems.  I partner with founding teams to create great technology companies.</p>

            <p class="type--light type--semi-bold">If you want Jim's help on your project, <a href="/contact.html">contact us</a> today.</p>
          </div>
        </div>
        <div class="show-for-small-only small-12 medium-6 large-6 columns background--consulting" data-equalizer-watch>
          <img  src="../img/consulting-jim.png"/>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- SECTION 3 -->
<div class="full-width background--gray-light medium-padding--tb-large">
  <div class="row padding--tb-large">
    <div class="small-11 medium-8 large-12 small-centered columns">
      <div class="row" data-equalizer>
        <div class="small-12 large-4 columns small-padding--t-large" data-equalizer-watch>
          <div class="center medium-padding--rl-medium">
            <img class="small-padding--b-medium" src="../img/consulting-kickoff.png"/>
            <h3 class="subheader uppercase ">Project Kickoff</h3>
            <p class="text-left">The beginning of the project is the most critical moment of its life, usually until well after launch. Our most popular product will ensure your project is on the path to excellence.</p>
          </div>
        </div>
        <div class="small-12 large-4 columns small-padding--t-large small-border--rl-none border--rl" data-equalizer-watch>
          <div class="center medium-padding--rl-medium">
            <img class="small-padding--b-medium" src="../img/consulting-codereview.png"/>
            <h3 class="subheader uppercase">Development</h3>
            <p class="text-left">Are you better off with an internal team, or a vendor?  What skills are crucial?  How can you balance effort, cost and timeline?  These critical questions are routine for me.  My intimate familiarity with the labor market and software delivery lifecycle allows me to represent my clients in a unique way.  Because my interests are totally aligned with yours, I’ll ensure you receive maximal value from your technical investment.</p>
          </div>
        </div>
        <div class="small-12 small-padding--t-large large-4 columns" data-equalizer-watch>
          <div class="center medium-padding--rl-medium">
            <img class="small-padding--b-medium" src="../img/consulting-team.png"/>
            <h3 class="subheader uppercase">Operation</h3>
            <p class="text-left">The completion of principal development is a critical time for your business, and your technical product.  It's also a time of tremendous risk, as responsibilities shift and team dynamics change.  I've helped operate some of the world's biggest websites during their most demanding periods.  This critical discipline is often entirely missing from custom software development efforts.  I ensure that success will not destroy your technical investment.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--- SECTION 4 -->
<div class="full-width background--red medium-padding--tb-medium small-padding--b-large border--tb">
  <div class="row">
    <div class="small-11 large-9 small-centered columns">
      <div class="row" data-equalizer>
        <div class="small-12 large-9 columns" data-equalizer-watch>
          <h4 class="padding--tb-large">Is your existing technology slowing down, while your sales aren't?  I can help existing companies too.  <a href="/contact.html">Contact me</a> with more information about your needs.</h4>
        </div>
        <div class="small-12 large-3 columns" data-equalizer-watch>
          <center>
            <%= image_tag '../img/home-consulting.png' %>
          </center>
        </div>
      </div>
    </div>
  </div>
</div>

<!--- SECTION 5 -->
<div class="full-width background--white border--tb small-padding--tb-small medium-padding--tb-large">
  <div class="row padding--tb-large">
    <div class="small-11 medium-9 large-12 columns small-centered large-uncentered">
      <div class="row" data-equalizer>
        <div class="small-12 medium-12 large-6 small-centered large-uncentered columns" data-equalizer-watch>
          <center>
            <img src="../img/consulting-automation.png"/>
          </center>
        </div>
        <div class="small-12 medium-12 large-6 small-centered large-uncentered columns table small-padding--t-xlarge" data-equalizer-watch>
          <div class="center aligned-left">
			<h2>Why bspoke?</h2>

			<p>Creating custom software is overwhelming for founders that lack experience in the technology marketplace.  Your needs during planning differ greatly from your needs during principal development, which are different again from your needs after launch.  One need is constant: trusted, skilled technical leadership that provides continuity, clarity, and accountability.  If you want to give your technology business its greatest chance to fulfill its potential, <a href="/contact.html">let me know</a>.  That is my passion and the heart of my practice.</p>			
            <h2>Our Approach</h2>
			<p>We care about creating environments of sustainable innovation for our clients.  When they produce great results, it creates more opportunities for us naturally.  We don't need to create lock-in, and we don't need to influence your project to meet any minimums or maxiumums.  We meet you where you are, and take you where you want to go.</p>
            <h2>Our Terms</h2>
            <p>Engagements begin with an initial, fixed-price consultation designed to bring your project to development readiness.
				From there, if my team is not a fit for <a href="/app-development.html">principal development</a>, we will agree on
				retainer structure to serve in the long term.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<% content_for :cta do %>
  <h2 class="color--dark-blue font--thin">Ready?</h2>
  <p class="type--large type--light type--semi-bold">If your company is capable of explosive growth, <a href="/contact.html">contact us</a>.</p>
  <p class="type--large type--light type--semi-bold">If you're not sure, you should sign up for our <strong>free</strong> nine-part series on technical risk and how to mitigate it effectively.</p>
  <img src="../img/icon-down-circle.png" class="padding--t-small" width="30px"/>
  </div>
</div>
</div>
<div class="row">
  <div class="small-8 medium-8 large-8 small-centered columns table">
      <div class="center">

    <!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
<form action="http://itsbspoke.us2.list-manage.com/subscribe/post?u=8b4656bd4a093a3bcabfda08a&amp;id=d0b0f1c86f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
  <h2>on technical risk</h2>
  <p>Whether you are on or manage a technical team, learn how to keep them out of trouble and delivering value to their organization.</p>
<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
<div class="mc-field-group">
	<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
</label>
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
<div class="mc-field-group">
	<label for="mce-FNAME">First Name </label>
	<input type="text" value="" name="FNAME" class="" id="mce-FNAME">
</div>
<div class="mc-field-group">
	<label for="mce-LNAME">Last Name </label>
	<input type="text" value="" name="LNAME" class="" id="mce-LNAME">
</div>
<input type="hidden" value="4" name="group[13713][4]">
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_8b4656bd4a093a3bcabfda08a_d0b0f1c86f" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
</form>
</div>

<!--End mc_embed_signup-->
<% end %>
