---
layout: simple
---
<% content_for :title do %>
  Contact bspoke
<% end %>
<!-- SECTION 1 -->
<div class="full-width background--grid">
  <%= partial "nav" %>
  <div class="row padding--tb-small">
    <div class="small-11 medium-11 large-11 small-centered columns">
      <div class="row padding--tb-small">
        <div class="large-12 columns padding--t-large">
          <h1>We'd love to hear from you</h1>
          <br/>
        </div>
      </div>
    </div>
  </div>
</div>

<!--- SECTION 2 -->
<div class="full-width small-padding--tb-small large-padding--tb-large">
  <div class="row">
    <div class="small-12 medium-11 large-8 columns small-centered">
      <div class="row padding--tb-large">
        <div class="hide-for-large-up small-12 medium-12 large-5 columns small-centered large-uncentered">
          <div class="table contact">
            <div class="center">
              <a href="#" class="button large contact">704-951-7829</a>
              <a href="#" class="button large contact">info@itsbspoke.com</a>
            </div>
          </div>
        </div>
        <div class="small-11 medium-11 large-6 columns small-centered large-uncentered">
          <div class="panel small-padding--rl-medium small-padding--tb-medium medium-padding--rl-large medium-padding--t-medium">
            <form>
              <div class="row">
                <div class="large-12 columns">
                  <label>Full Name
                    <input type="text" placeholder="Full Name" />
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="large-12 columns">
                  <label>Company
                    <input type="text" placeholder="Company" />
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="large-12 columns">
                  <label>Email
                    <input type="email" placeholder="Email" />
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="large-12 columns">
                  <label>What do you want to talk about? 
                    <select>
                      <option value="husker">App Development</option>
                      <option value="starbuck">Consulting</option>
                      <option value="hotdog">Website or CMS</option>
                      <option value="apollo">Other</option>
                    </select>
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="large-12 columns">
                  <label>Message
                    <textarea placeholder="Let us know how you want to work with us."></textarea>
                  </label>
                </div>
              </div> 
              <div class="row">
                <div class="large-12 columns">
                  <a href="#" class="button small right">Send</a>
                </div>
              </div>   
            </form><!-- /.panel -->
          </div>
        </div>
        <div class="show-for-large-up small-12 medium-12 large-5 columns small-centered large-uncentered table">
          <div class="table contact">
            <div class="center">
              <a href="#" class="button large contact">704-444-4444</a> <br/>
              <a href="#" class="button large contact">info@itsbspoke.com</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

