---
layout: simple
---
<% content_for :title do %>
  bspoke thanks you
<% end %>
<!-- SECTION 1 -->
<div class="full-width background--grid">
  <%= partial "nav" %>
  <div class="row padding--tb-small">
    <div class="small-11 medium-11 large-11 small-centered columns">
      <div class="row padding--tb-small">
        <div class="large-12 columns padding--t-large">
          <h1>Thank You!</h1>
          <br/>
        </div>
      </div>
    </div>
  </div>
</div>

<!--- SECTION 2 -->
<div class="full-width small-padding--tb-small large-padding--tb-large">
  <div class="row">
    <div class="small-12 medium-11 large-8 columns small-centered">
      <div class="row padding--tb-large">
        <div class="small-12 medium-12 large-8 columns small-centered large-uncentered">
          <p>itsbspoke thanks you for getting in touch with us.  You should expect replies
          via email within a week.</p>
        </div>
      </div>
    </div>
  </div>
</div>

