---
title: about the founder of itsbspoke
---

<!-- SECTION 1: HEADER -->
<div class="full-width background--blue">
  <%= partial "nav" %>
  <div class="row">
    <div class="small-11 medium-11 large-11 small-centered columns">
      <div class="row">
        <div class="large-12 columns padding--tb-large">
          <h1>A Word From Our Founder</h1>
          </br>
        </div>
      </div>
    </div>
  </div>
</div>

<!--- SECTION 2 -->
<div class="full-width background--white border--tb">
  <div class="row background--consulting-jim">
    <div class="small-10 medium-12 large-12 columns small-centered">
      <div class="row" data-equalizer>
        <div class="show-for-medium-up small-11 medium-7 large-7 columns" data-equalizer-watch> &nbsp; </div>

        <div class="small-12 medium-5 large-5 columns table small-padding--tb-large large-padding--r-xlarge medium-padding--tb-large large-padding--tb-3xlarge" data-equalizer-watch>
          <div class="center aligned-left">
            <h2>Hello.</h2>
            <h3>I'm Jim Van Fleet.</h3>

            <p>I've been programming computers for over twenty years. Throughout my career, I've focused on using my skills to build better businesses and create a better world.</p>

            <p>I've partnered that focus with a commitment to strengthen my skills in any way that could help my projects succeed. I've always wanted to work with people to accomplish shared goals using technology.</p>

          </div>
        </div>
        <div class="show-for-small-only small-12 medium-6 large-6 columns background--consulting" data-equalizer-watch>
          <img  src="../img/consulting-jim.png"/>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- SECTION 3 -->
<div class="full-width border--t-red border--tb small-padding--tb-large background--gray-light">
  <div class="row">
    <div class="small-6 medium-6 large-2 small-centered columns table small-padding--b-large">
      <div class="center">
        <%= image_tag '../img/home-app.png' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small-11 medium-8 large-8 small-centered table columns">
      <div class="center">
        <p class="type--large type--light type--semi-bold text-justify">
        Though It'sBspoke has closed, I continue to serve my community professionally
		at <a href="http://levvel.io">Levvel</a>, and the citizens of Charlotte via
		<a href="http://www.codeforcharlotte.org">Code for Charlotte</a>.  You may reach
		me through those fine institutions.</p>
      </div>
    </div>
  </div>
</div>

<!--- SECTION 4: BRIDGE -->
<div class="full-width background--blue padding--tb-medium border--tb">
  <div class="row">
    <div class="small-11 medium-11 large-8 small-centered columns">
      <div class="row" data-equalizer>
        <div class="small-12 medium-10 large-9 columns table" data-equalizer-watch>
          <div class="center aligned-left">
            <h4 class="padding--tb-medium">
              Through Jim's actions, passion and commitment to the Charlotte entrepreneur and IT developer communities, he inspires others to learn more, dream more and do more - becoming more.     He is an emerging leader in action.
            </h4>
            <p>Kay Read, <a href="http://it-ology.org/en/CharlotteNC.aspx">it-oLogy</a></p>
          </div>
        </div>
        <div class="small-12 medium-2 large-3 columns table" data-equalizer-watch>
          <div class="center">
            <img class="padding--b-small" src="../img/about-bspokelogo.png" width="135" />
          </div>
        </div>
      </div>
    </div>
  </div><!-- /.row -->
</div>
