---
title:  Thanks, Charlotte.
background_home_image: true
---
<div class="full-width home">
  <!-- SHOW ONLY MEDIUM AND UP -->
    <%= partial "nav" %>
  <div class="row small-padding--t-small">
    <div class="small-11 medium-11 large-11 small-centered columns">

      <!-- home text -->
      <div class="row medium-padding--tb-large">
        <div class="large-12 columns small-padding--tb-medium">
          <h1 class="alpha">It'sBspoke is closed</h1>
          <h3 class="type--regular medium-padding--t-medium">We appeciated the chance to serve you.</h3>
          <br/>
          <div class="row">
            <div class="small-12 small-centered columns medium-padding--tb-medium table">
              <div class="center">
                <a href="/our-model.html" class="button large radius button--border button--transparent">Learn More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Home text  -->
    </div>
  </div>
</div>


<!-- What Makes us different -->
<div class="full-width background--white">
  <div class="row row--full" data-equalizer>
    <div class="small-12 medium-7 large-5 columns small-padding--tb-xxlarge large-offset-1 table" data-equalizer-watch>
      <div class="center aligned-left">
        <h2>What's Next?</h2>
        <p class="type--large">Our founder, Jim Van Fleet, built a reputation as a technology expert and leader in Charlotte’s entrepreneurial community. He has extinguished technical problems on sites doing $30M in daily revenue. He has built applications that have scaled to over 100k users. He has relationships with hundreds of technologists, entrepreneurs, and investors nationwide. 
        </p>
        <p class="type--large">He's still ready to put all that to work for you at <a href="http://levvel.io">Levvel.</a>  We help startups scale, and larger companies get meaningful results in a demanding technical landscape.</p>
                <div class="center">
                <a href="/founder.html" class="button large radius button--border button--transparent">About Jim</a>
              </div>
      </div>
    </div>
    <div class="small-12 medium-5 large-5 columns background--jim-home padding--rl-zero" data-equalizer-watch>
      <img class="show-for-small-only" src="../img/jim-couch-small.png" width="100%"/>
    </div>
  </div><!-- /.row -->
</div>
<!-- /End What makes us different -->
