<% content_for :title do %>
  About the bspoke model
<% end %>
<!-- SECTION 1 -->
<div class="full-width background--red">
  <%= partial "nav" %>
  <div class="row large-padding--tb-medium">
    <div class="small-11 medium-11 large-11 small-centered columns">
      <div class="row large-padding--tb-large">
        <div class="large-12 columns padding--tb-medium">
          <h1 class="type--white">itsbspoke aligns interests</h1>
          </br>
        </div>
      </div>

    </div>
  </div>
</div>

<%= partial(:bridge, :locals => {:message => "Our developers"}) %>

<!--- SECTION 2 -->
<div class="full-width border--tb small-padding--tb-xxlarge large-padding--tb-5xlarge">
  <div class="row ">
    <div class="small-11 large-11 columns small-centered">
      <div class="row">
        <div class="small-12 medium-12 large-6 small-centered large-uncentered columns table">
          <div class="center">
            <img class="padding--b-small" src="../img/img.png"/>
          </div>
        </div>
        <div class="small-12 medium-12 large-6 small-centered columns">
          <h2>A Novel Approach</h2>
          <p>At the core of itsbspoke's practice is an apprenticeship model. Our developers are a diverse group of promising technology talent looking to begin an exceptional career. We ensure they have the skills, talent and drive to perform the range of tasks required of all developers before they join our team.</p>
          <p class="type--light type--semi-bold">Affordable excellence <a href=""> Contact Us </a></p>
        </div>
      </div>
    </div>
  </div>
</div>

<%= partial(:bridge, :locals => {:message => "Our clients"}) %>

<!-- SECTION 5 -->
<div class="full-width background--white">
  <div class="row row--full" data-equalizer>
    <div class="small-11 medium-11 large-6 small-centered large-uncentered columns large-offset-1 large-padding--tb-5xlarge large-padding--r-xlarge large-padding--rl-xlarge small-padding--tb-xxlarge table" data-equalizer-watch>
      <div class="center aligned-left">
        <p>While our consulting clients deal directly with our experts exclusively, web and app clients will work with our senior staff to fix the scope of the work to be done, with specific deliverables defined for each engagement. On web projects, our developers have the skills they need to do the work. This represents their day-to-day job, where they are supported by experts as they prepare for their opportunity as an application developer.</p>

        <p>Our development clients work with master craftsmen to fix scope. Our experts then create series of lessons to have the bulk of the work done by our developers. Unlike our competition, where those who perform the work are closely guarded from 'poaching', we encourage our developers to do their best work-- resulting optimally in a raise and promotion to a full-time position with the client. Who better to work full-time on a project than someone who has been with the project throughout its life?</p>

<p>For our clients, this generates comparable timelines and budgets of offshore projects, but with superior experience in terms of service, quality and business results. It also allows us, in cases when timing is important, to have experts perform work directly should the budget allow. We value our ability to deliver whatever development services needed.</p>
      </div>
    </div>
    <div class="small-12 medium-12 large-5 columns background--about-charlotte padding--rl-zero" data-equalizer-watch>
      <img class="hide-for-large-up" src="../img/about-charlotte-small.png"/>
    </div>
  </div><!-- /.row -->
</div>

<%= partial(:bridge, :locals => {:message => "Our experts"}) %>

<!--- SECTION 2 -->
<div class="full-width border--tb small-padding--tb-xxlarge large-padding--tb-5xlarge">
  <div class="row ">
    <div class="small-11 large-11 columns small-centered">
      <div class="row">
        <div class="small-12 medium-12 large-6 small-centered large-uncentered columns table">
          <div class="center">
            <img class="padding--b-small" src="../img/img.png"/>
          </div>
        </div>
        <div class="small-12 medium-12 large-6 small-centered columns">
          <p>For our master craftsmen, this allows them an opportunity to get some distance from the require to deliver personally. Whether they use their additional time to start their own project, learn a new language, prepare marketing materials for their own practice, engage further in the community, or simply to evaluate what's next, itsbspoke represents an opportunity to have a positive impact and pay the bills in the interim.</p>
          <p class="type--light type--semi-bold">Affordable excellence <a href="/contact.html"> Contact Us </a></p>
        </div>
      </div>
    </div>
  </div>
</div>

