---
title: the bspoke apprenticeship model
---

<!-- SECTION 1: HEADER -->
<div class="full-width background--blue">
  <%= partial "nav" %>
  <div class="row">
    <div class="small-11 medium-11 large-11 small-centered columns">
      <div class="row">
        <div class="large-12 columns padding--tb-large">
          <h1>Our apprenticeship model</h1>
          </br>
        </div>
      </div>
    </div>
  </div>
</div>


<!--- SECTION 2 -->
<div class="full-width background--white small-padding--tb-small large-padding--tb-3xlarge">
  <div class="row" >
    <div class="small-11 medium-11 large-12 columns small-centered" data-equalizer>
      <div class="small-12 medium-6 large-6 columns small-padding--tb-large" data-equalizer-watch>
        <img src="../img/app-section3.png"/>
      </div>
      <div class="small-12 medium-6 large-6 columns small-centered table small-padding--r-xlarge" data-equalizer-watch>
        <div class="center aligned-left">
          <h2>We've got answers</h2>
          <p>At the core of itsbspoke's practice is an apprenticeship model. Our developers are a diverse group of promising technology talent looking to begin an exceptional career. We ensure they have the skills, talent and drive to perform the range of tasks required of all developers before they join our team.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="full-width background--gray-light medium-padding--tb-large border--t-red">
  <div class="row padding--tb-large">
    <div class="small-11 medium-8 large-12 small-centered columns">
      <div class="row" data-equalizer>
        <div class="small-12 large-4 columns small-padding--t-large" data-equalizer-watch>
          <div class="center medium-padding--rl-medium">
            <img class="small-padding--b-medium" src="../img/consulting-kickoff.png"/>
            <h3 class="subheader uppercase ">Web Clients</h3>
            <p class="text-left">While our consulting clients deal directly with our experts exclusively, web and app clients will work with our senior staff to fix the scope of the work to be done, with specific deliverables defined for each engagement. On web projects, our developers have the skills they need to do the work. This represents their day-to-day job, where they are supported by experts as they prepare for their opportunity as an application developer.</p>
          </div>
        </div>
        <div class="small-12 large-4 columns small-padding--t-large small-border--rl-none border--rl" data-equalizer-watch>
          <div class="center medium-padding--rl-medium">
            <img class="small-padding--b-medium" src="../img/consulting-codereview.png"/>
            <h3 class="subheader uppercase">App Clients</h3>
            <p class="text-left">Our development clients work with master craftsmen to fix scope. Our experts then create series of lessons to have the bulk of the work done by our developers. Unlike our competition, where those who perform the work are closely guarded from 'poaching', we encourage our developers to do their best work-- resulting optimally in a raise and promotion to a full-time position with the client. Who better to work full-time on a project than someone who has been with the project throughout its life?</p>

            <p class="text-left">For our clients, this generates comparable timelines and budgets of offshore projects, but with superior experience in terms of service, quality and business results. It also allows us, in cases when timing is important, to have experts perform work directly should the budget allow. We value our ability to deliver whatever development services needed.</p>
          </div>
        </div>
        <div class="small-12 small-padding--t-large large-4 columns" data-equalizer-watch>
          <div class="center medium-padding--rl-medium">
            <img class="small-padding--b-medium" src="../img/consulting-team.png"/>
            <h3 class="subheader uppercase">Our Experts</h3>
            <p class="text-left">For our master craftsmen, this allows them an opportunity to get some distance from the require to deliver personally. Whether they use their additional time to start their own project, learn a new language, prepare marketing materials for their own practice, engage further in the community, or simply to evaluate what's next, itsbspoke represents an opportunity to have a positive impact and pay the bills in the interim.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

